In [1]:
import pandas as pd

S3_FILE_PATH = "s3://public-health-dashboard/jhu_covid19/"

TESTING_URL = f"{S3_FILE_PATH}county-city-testing.parquet"

In [15]:
df = pd.read_parquet(TESTING_URL)

df["date2"] = pd.to_datetime(df.date)

keep = ["date2", "County_Performed", "City_Site_Performed", "County_Site_Performed"]
df = df.dropna(subset = ["City_Site_Performed", "County_Site_Performed"])[keep]

df["Sites_Total"] = df.City_Site_Performed + df.County_Site_Performed
df["correct"] = df.apply(lambda row: True if row.Sites_Total <= row.County_Performed else False, axis=1)

In [22]:
df[df.date2 < '7/1/20'].correct.value_counts()

True     56
False    47
Name: correct, dtype: int64

In [26]:
df[(df.date2 < '7/1/20') & (df.date2 >= '4/15/20')].correct.value_counts()

True     40
False    37
Name: correct, dtype: int64

In [23]:
df[df.date2 >= '7/1/20'].correct.value_counts()

True     15
False     5
Name: correct, dtype: int64

In [27]:
df[df.date2 >= '7/1/20']

,date2,County_Performed,City_Site_Performed,County_Site_Performed,Sites_Total,correct
113,2020-07-01,37865,14452,18754,33206,True
114,2020-07-02,41267,13169,17475,30644,True
115,2020-07-03,16437,268,1405,1673,True
116,2020-07-04,6246,26,669,695,True
117,2020-07-05,9444,6,2047,2053,True
118,2020-07-06,30472,3098,7883,10981,True
119,2020-07-07,37886,15524,20642,36166,True
120,2020-07-08,40020,15046,19720,34766,True
121,2020-07-09,38702,15250,19881,35131,True
122,2020-07-10,36520,14045,18498,32543,True
123,2020-07-11,26734,13730,17806,31536,False
124,2020-07-12,9387,8,3490,3498,True
125,2020-07-13,34391,14312,18212,32524,True
126,2020-07-14,35866,14947,18981,33928,True
127,2020-07-15,30469,14934,18601,33535,False
128,2020-07-16,33291,15138,15138,30276,True
129,2020-07-17,26786,15499,15499,30998,False
130,2020-07-18,11309,14819,14819,29638,False
131,2020-07-19,577,0,0,0,True
132,2020-07-20,1,15415,15415,30830,False